.header{
  align-items: center;
  background-color: #262626;
  color: #FFFFFF;
  min-height: 250px;
  padding: 25px 30px 30px 25px;
  text-align: center;
  font-family: 'Kadwa', serif;
}

.header h2 {
  font-size:  1.5em;
}

.header h3 {
  margin-top: 20px;
}

.content-wrapper {
  line-height: 1.4;
  padding: 30px 25px;
  font-family: 'Kadwa', serif;
}