*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #F5F5F5;
  color: #444;
  font-family: "Helvetica Neue", Arial, serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
  margin: 10px 0 15px;
}

p, ul {
  margin: 10px 0;
}

ul li {
  margin-left: 30px;;
}

a {
  color: #00b8d4;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 3px solid #00b8d4;
  padding: 3px;
}

a:hover {
  background-color: #00b8d4;
  color: white;
}

a:active {
  position: relative;
  top: 1px;
}

.content-wrapper {
  line-height: 1.4;
  margin: 0 auto;
  max-width: 900px;
  padding: 30px 25px;
  font-family: "Helvetica Neue", Arial, serif;
   -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*
 * HEADER
 */

.header {
  align-items: center;
  background:linear-gradient(#cccccc, #999999);
  background-image: url('https://akshaykher.files.wordpress.com/2015/08/analytics.jpg');

  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  border-top: 4px solid #EFEFEF;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  min-height: 250px;
  padding: 0 20px;
  position: relative;
  text-align: center;
}

@media only screen and (max-device-width: 420px)  {
  .header {
    background-size: auto 100%;
  }
}

.header:before {
  background: rgba(0, 0, 0, .7);
  bottom: 0;
  content: ' ';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.header * {
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px 10px black;

}

.header h1 {
  font-size: 4rem;
  font-weight: 200;
}

.header h2 {
  font-size: 2.1rem;
  font-weight: 100;
  margin: 5px 0;
}

/*
 * SKILLS
 */

.skills {
  background:linear-gradient(#cccccc, #999999);

  color: white;
}



.w3-btn,.w3-btn-block{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;color:#fff;background-color:#000;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover,.w3-btn-block:hover,.w3-btn-floating:hover,.w3-btn-floating-large:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.w3-hover-light-grey:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-row-padding{padding:0 8px}
.w3-margin-bottom{margin-bottom:16px!important}
.w3-quarter{width:99.99999%}
.w3-container{padding:0.01em 16px}
.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.w3-yellow,.w3-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.w3-lime,.w3-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.w3-purple,.w3-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.w3-blue,.w3-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important
  .w3-left{float:left!important}
  .w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow{color:#000!important;background-color:#ffffcc!important}
.w3-pale-blue,.w3-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
